body{
    font-style: italic;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(https://kalix.club/uploads/posts/2022-12/1671684387_kalix-club-p-zadnii-fon-svetlii-pinterest-2.jpg);
}
.icon{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 10px;
}
.icon1{
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 10px;
}
.navbar-brand{
    margin: 20px;
}
.nav-item{
    font-size: 15px;
}
.fire{
    width: 550px;
    height: 550px;
}
#feature{
    border-bottom: 1px solid black;
}
#feat{
    border-right: 1px solid black;
}